<div class="container borde-redondeado">

  <h3>Agregar invitados a "{{evento.nombre}}"</h3>

  <div class="input-group">
    {{aupac-ember-data-typeahead
        class='form-control'
        params=sugerenciasParams
        modelClass='invitado'
        action='invitadoElegido'
    }}
  </div>

  <h4>Nuevos invitados</h4>

  <ul>
    {{#each invitadosAAgregar as |invitado|}}
      <li>{{invitado.nombreUsuario}} - <a href="#" {{action 'eliminarElegido' invitado}}>quitar</a></li>
    {{/each}}
  </ul>

  <div>
    <button class="btn btn-md boton-pim" {{action 'enviarInvitaciones'}} disabled={{isInvalid}}>Enviar Invitaciones</button>
    <button class="btn btn-md boton-pum" {{action 'cancelarInvitaciones'}}>Cancelar</button>
  </div>
</div>
