<div class="container borde-redondeado clima">

  <h3>Agregar invitados a "{{evento.nombre}}"</h3>

  <div class="input-group agregar-campo" >
    {{aupac-ember-data-typeahead
        class='form-control'
        params=sugerenciasParams
        modelClass='invitado'
        action='invitadoElegido'
    }}
  </div>

  <h4>Nuevos invitados</h4>

  <ul>
    {{#each invitadosAAgregar as |invitado|}}
      <li>{{invitado.nombreUsuario}} - <a href="#" {{action 'eliminarElegido' invitado}}><span class="glyphicon glyphicon-remove-circle cruz"></span></a></li>
    {{/each}}
  </ul>

  <div class="input-group botones-fila">
    <button class="btn btn-md boton-pim" {{action 'enviarInvitaciones'}} disabled={{isInvalid}}>Enviar Invitaciones</button>
    <button class="btn btn-md boton-pum" {{action 'cancelarInvitaciones'}}>Cancelar</button>
  </div>
</div>
