<div class="container evento-detalle borde-redondeado">

  <h3>{{model.nombre}}</h3>

    <div class="row">
        <span> Dirección:</span>

        <p>{{model.direccion}}</p>
    </div>

  {{#if model.descripcion }}
      <div>
          <span>Descripción: {{model.descripcion}}</span>
      </div>
  {{/if}}


      <div class="row">
        <span> Fecha:</span>

        <p>{{model.fechaFormateada}}</p>
      </div>







    <div class="row">

  <span>Confirmados:</span>
  {{#if confirmados }}
    <ul>
      {{#each confirmados as |invitado|}}
        <li>{{invitado.nombreUsuario}}</li>
      {{/each}}
    </ul>
  {{else}}
  <p> No hay confirmados :(</p>
  {{/if}}
    </div>

</div>
