<div class="container evento-detalle borde-redondeado">

  <h3>{{evento.nombre}}</h3>

    <div class="row">
        <span> Dirección:</span>

        <p>{{evento.direccion}}</p>
    </div>

  {{#if evento.descripcion }}
      <div class="row">
          <span>Descripción: </span>
          <p>{{evento.descripcion}}</p>
      </div>
  {{/if}}

{{#if evento.fechaFormateada }}
      <div class="row">
        <span> Fecha:</span>

        <p>{{evento.fechaFormateada}}</p>
      </div>
{{/if}}






    <div class="row">

  <span>Confirmados:</span>
  {{#if hayConfirmados }}
    <ul>
      {{#each confirmados as |invitado|}}
        <li>{{invitado.nombreUsuario}}</li>
      {{/each}}
    </ul>
  {{else}}
  <p> No hay confirmados :(</p>
  {{/if}}
    </div>


    <button class=" btn btn-md boton-pum margen-botton" {{action 'volver'}}>Volver</button>

</div>
