<div class="container invitacionRecibida borde-redondeado" >

  <h3>Invitaciones recibidas</h3>

  <table class="table table-hover">

    <thead>
    <tr>
      <th>Nombre Evento</th>
      <th>Fecha</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>


    {{#each model as |invitacion|}}
      <tr>
        <td>{{invitacion.id_evento}} - {{invitacion.nombre_evento}}</td>
        <td>{{invitacion.fechaFormateada}}</td>
        <td>{{link-to 'Ver más...' 'evento' invitacion.id_evento}}</td>
        <td>
          {{#if invitacion.sin_confirmar }}
            <span class="label label-warning">Todavía no confirmaste!</span>
            <button {{action 'aceptar' invitacion}}>Aceptar</button>
            <button {{action 'rechazar' invitacion}}>Rechazar</button>
          {{/if}}

          {{#if invitacion.aceptada }}
            <span class="label label-success">Aceptada</span>
            <button {{action 'rechazar' invitacion}}>Rechazar</button>
          {{/if}}

          {{#if invitacion.rechazada }}
            <span class="label label-default">Rechazada</span>
            <button {{action 'aceptar' invitacion}}>Aceptar</button>
          {{/if}}

        </td>
      </tr>
    {{/each}}

    </tbody>
  </table>

</div>
