<div class="crea-evento borde-redondeado">

<h3>Nuevo evento</h3>

<form class="form" {{action 'crear' on='submit'}} role="form">

  <hr/>
  <div class="container-fluid">

    <div class="form-group">
      <label for="nombre">¿Cómo vas a llamar a tu evento?</label>
      {{validated-input type="text" value=nombre placeholder="Ingrese el nombre"  errors=errors.nombre}}
    </div>


    <div class="form-group">
      <label for="descripcion">¿Alguna información útil más?</label>
      {{validated-input type="text" value=descripcion placeholder="Ingrese la descripción"  errors=errors.descripcion}}
    </div>

    <label for="fecha">¿Cuándo va a ser?</label>

    <div class="row">
      {{bs-datetimepicker
          date=fecha
          inline=true
          noIcon=true
          sideBySide=true
          forceDateOutput=true
          updateDate=(action (mut fecha))}}
    </div>

  </div>

  <hr/>

    <label for="fecha">¿Donde va a ser?</label>
    {{google-map latitude="34.851939" longitude="-82.399752"}}

  <button type="submit" class="btn btn-md boton-pim" data-loading-text="Loading..."><span class="glyphicon glyphicon-calendar"></span> Crear!</button>

</form>
</div>
