<div>

  <span>{{clima.ciudad}}</span>

  <span>{{clima.condicion}}</span>

  <span><strong>Temperatura</strong>: {{clima.temperatura}}° {{clima.unidad_temperatura}}</span>

  <span><strong>Viento</strong>: {{clima.velocidad_viento}} km/h en dirección {{clima.direccion_viento}}</span>

  <span><strong>Humedad</strong>: {{clima.porcentaje_humedad}} %</span>

  <span><strong>Presión atmosférica</strong>: {{clima.presion_atmosferica}} %</span>

</div>
