<form {{action 'createUser' on="submit"}}>
  {{input type="text" value=userEmail placeholder="Email"}}
  {{errors.email}}

  {{input type="password" value=userPassword placeholder="Contraseña"}}
  {{errors.password}}

  {{input type="password" value=userPasswordConfirmation placeholder="Confirmación"}}
  {{errors.passwordConfirmation}}

  <button type="submit">Registrarme</button>
</form>
