<div class="login borde-redondeado">


    <h3>Registrarme</h3>

<form class="form" {{action 'createUser' on="submit"}}>
  <hr/>

  <!-- TODO extraer a un componente -->
  {{#if model.errors }}
    <div class="alert alert-warning">
      <span class="glyphicon glyphicon-exclamation-sign"></span> Han ocurrido errores:
      <ul>
        {{#each model.errors.messages as |message|}}
          <li>{{message}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <label for="username" >Nombre de usuario</label>
  {{validated-input type="text" value=username placeholder="Nombre de usuario"  errors=errors.username}}
  <br/>

  <label for="identification" >Email de usuario</label>
  {{validated-input type="text" value=userEmail placeholder="Email"  errors=errors.userEmail}}
  <br/>

  <label for="password" >Contrase침a</label>
  {{validated-input type="password" value=userPassword placeholder="Contrase침a"  errors=errors.userPassword}}

  <br/>

  <label for="password" >Repita contrase침a</label>
  {{validated-input type="password" value=userPasswordConfirmation placeholder="Confirmaci칩n" errors=errors.userPasswordConfirmation}}

  <hr/>

  <button type="submit" {{bind-attr disabled="isInvalid"}} class="btn btn-md boton-pim">
    <i class="icon-user-add icon-white"></i>
    Registrarme
  </button>
</form>
</div>